.registration-container {
  display: flex;
  flex-direction: row;
  height: auto;

}


.left-section {
  flex: 1;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  height: auto;

}

.logo-text {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.form-select option {
  transition: background-color 0.3s;
}


.form-select option:hover {
  background-color: #FE512E;
  color: white;

}

label {
  text-align: left;
  display: block;
  margin-bottom: 0.5rem;
  color: #202224;

}

body {
  overflow-x: hidden;
}

.form-control {
  width: 100%;
}

.image-container img {
  max-width: 80%;
  height: auto;
}

.form-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  background-image: url("./assets/back.png");
  background-size: cover;


}

.form-wrapper {
  max-width: 700px;
  width: 100%;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 2px #bfbcbc;

}

.form-check {
  text-align: left;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .form-wrapper {
    max-width: 400px;
  }

  .logo-text {
    font-size: 2.2rem;
  }

  .form-section,
  .left-section {
    padding: 10px;
  }

  .form-control {
    font-size: 0.9rem;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .dropdown {
    width: 70%;
  }

  .form-select {
    font-size: 1rem;
    padding: 10px;
  }

  .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
  }

  .dropdown-item {
    padding: 12px;
  }

  .dropdown-item:hover {
    background: linear-gradient(90deg, #FE512E, #F09619);
    color: white;
  }
}


@media (max-width: 768px) {
  .registration-container {
    flex-direction: column;
  }

  .left-section {
    height: auto;
  }

  .form-section {
    height: auto;
  }

  .form-wrapper {
    padding: 1rem;
  }

  .logo-text {
    font-size: 2rem;
  }
}



.sidebar {
  background-color: #f8f9fa;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}


.sidebar-header {
  justify-content: center;
}

.sidebar-title {
  margin: 0 auto;
}

.sidebar-menu {
  padding: 0;
}

.sidebar-item {
  padding: 17px;
  border-radius: 0.25rem;
  transition: all 1s;
}

.sidebar-item:hover span {
  background: linear-gradient(90deg, #FE512E 0%, #F09619 100%);
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
}


.mainColor {
  background-color: #e9ecef;
}


.icon {
  margin-right: 1rem;
}

.text-dark {
  color: #343a40;
}

.text-color {
  color: #A7A7A7;
}

.logout {
  color: #dc3545;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-color {
  background-color: #F6F8FB !important;
  height: 100vh;
  /* height: 1064px; */
}

.container-img {
  background-image: url("./Images/RegFormBackImg.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.from {
  width: 530px;
  /* height: auto; */
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgb(211, 211, 214);
}

.from1 {
  width: 530px;
  /* height: auto; */
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgb(211, 211, 214);
}

.radious {
  border-radius: 10px;
}

.perent-search {
  position: sticky;
}

.child-search {
  position: absolute;
  font-weight: bold !important;
  top: 34px;
  left: 35px;
}

.l-btn {
  background: linear-gradient(90deg, #FE512E 0%, #F09619 100%);
  border: none;
  border-radius: 10px;
}

.text-decoretion {
  text-decoration: none;
}

.component-layout {
  background-color: #F0F5FB;
  padding: 24px;
}


.image {
  height: 70px;
  display: flex !important;
  align-items: center !important;
  justify-content: center;


}

.list {
  width: 265px;
  height: 52px;
}


@media only screen and (max-width: 768px) {
  .from {
    display: flex;
    margin-top: 120px;
    align-items: center;
  }

  .logo {
    margin-top: 50px !important;
  }
}

/* Login.css */
.login-container {
  height: 100vh;
}

@media (max-width: 768px) {
  .login-container {
    padding: 0;
  }

  .form-container {
    width: 100%;
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .form-container {
    max-width: 450px;
  }

  .bg-color {
    background-color: #f9f9f9;
  }
}

.search-icon {
  display: none !important;
}

.app-bar {
  display: none !important;
}

@media (max-width: 768px) {
  .layout {
    display: none !important;
  }

  .app-bar {
    display: block !important;
  }

  .search-icon {
    display: block !important;
  }

  .search {
    display: none !important;
  }

  .lile {
    display: none !important;
  }

  .component-layout {
    padding: 10px;
  }

}

.link-tag {
  text-decoration: none;
  color: black;
}